@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


.csvg-countdown {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: #fff;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.csvg-digit {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: center;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
}

.csvg-digit-number {
  font-size: 307px;
  padding: 3px 29px;
  background: #38414a;
  background: rgba(40, 50, 61, 0.62);
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.csvg-digit[data-tad-bind=seconds] .csvg-digit-number {
  color: #e55182;
}

.csvg-digit-label {
  padding: 5px;
  font-size: 23px;
  text-align: left;
  text-transform: uppercase;
}

.csvg-title {
  font-size: 70px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  border: none;
  &.long {
    font-size: 50px;
  }
}

.csvg-date {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  a {
    color: #f8eab9;
  }
}

.csvg.completed .csvg-date span[data-type=until] {
  color: red;
}

.csvg-controls {
  position: absolute;
  top: 50px;
  left: 44px;
  width: 56px;
  height: 56px;
  background: #ee5486;
  border-radius: 28px;
  overflow: hidden;
  z-index: 1;
  a {
    display: block;
    color: #fff;
  }
  i {
    width: 100%;
    height: 56px;
    display: block;
    background: url(//c.tadst.com/gfx/cd/menu-spr.png) 0 -336px no-repeat #ee5486;
    z-index: 1;
  }
  .menu a {
    color: #404041;
    position: relative;
    display: block;
    padding: 20px 0 20px 56px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    transform: translateX(-50px);
    opacity: 0;
  }
}