@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.fullscreen {
  height: 450px;
}
.csvg-digit {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
}

.csvg-digit-number {
  font-size: 507px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.csvg-digit[data-tad-bind=seconds] .csvg-digit-number {
  color: #e55182;
}

#xhours {

}

#el_h1 {
  font-size: 100px;
}

.csvg-digit-label {
  padding: 5px;
  font-size: 23px;
  text-align: left;
  text-transform: uppercase;
}

.csvg-title {
  font-size: 70px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  border: none;
  &.long {
    font-size: 50px;
  }
}

.csvg-date {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  a {
    color: #f8eab9;
  }
}

.csvg.completed .csvg-date span[data-type=until] {
  color: red;
}
