{% extends 'templates/master.twig' %}
{% block body %}
   <div class="csvg generic hassvg fullscreen">
        <div class="csvg-digit" data-tad-bind="hours">
            <div id="el_h1" class="csvg-digit-number">23</div></div>
        <div class="csvg-digit" data-tad-bind="minutes">
            <div id="el_m1" class="csvg-digit-number">36</div></div>
        <div class="csvg-digit" data-tad-bind="seconds">
            <div id="el_s1" class="csvg-digit-number" style="font-size: 250px;">34</div></div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var handler = window.setInterval(function () {
        var diff = (endTime.getTime() - (new Date()).getTime()) / 1000;
        var hours = parseInt(diff / 60 / 60);
        var minutes = parseInt((diff - (hours * 60 * 60)) / 60);
        var seconds = parseInt(diff - ((hours * 60 * 60) + (minutes * 60)));
        }, 1000);
    </script>
{% endblock %}
